@use 'variables' as v;

@mixin telefono {
    @media (max-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin grid($columnas: 1, $gap: 2rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}