/* Fuentes */
$fuente_principal: "Poppins", sans-serif;

/* Colores */
$negro: #000;
$blanco: #fff;
$azul: #112D4E;
$hover: #1152dd;
$boton: #20ac99;
$boton-hover: #1e7e71;
$enlaces: #111312;
$c-section: #1b2229;
$titulo: #ceebe8;
$gris: #e3f3f3;
$grisAzulado: #96aab3;
/* Medidas responsives */
$telefono: 480px;
$tablet: 811px;
$desktop: 1200px;
$desktopXL: 1400px;